.accounts-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  overflow-y: visible;
  gap: 20px;
}

.account-balance {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 10px;
}

.account-name,
.default-currency-balance {
  font-size: 20px;
}

.chosen-currency-balance {
  font-size: 16px;
  color: #4d4d4d;
}

@media (max-width: 768px) {
  .accounts-card {
    padding: 15px;
    gap: 15px;
  }

  .account-balance {
    text-align: center;
  }

  .account-name,
  .default-currency-balance {
    font-size: 18px;
  }

  .chosen-currency-balance {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .accounts-card {
    padding: 10px;
    gap: 10px;
  }

  .account-balance {
    text-align: center;
  }

  .account-name,
  .default-currency-balance {
    font-size: 16px;
  }

  .chosen-currency-balance {
    font-size: 12px;
  }
}
