<div class="accounts-card">
  <mat-card>
    <mat-card-content>
      <div class="account" *ngFor="let account of accounts">
        <div class="account-name">{{ account.name }}</div>
        <div class="account-balance">
          <div class="default-currency-balance">
            {{ account.defaultCurrencyBalance }} {{ defaultCurrency }}
          </div>
          <div
            class="chosen-currency-balance"
            *ngIf="account.currency !== defaultCurrency"
          >
            {{ account.balance }} {{ account.currency }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <button mat-button (click)="openAccountDialog()">New account</button>
</div>
