.settings-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mat-card-item form {
  margin-top: 20px;
}

.row-name {
  font-size: 20px;
}

.delete-row {
  font-size: 20px;
  cursor: pointer;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 200px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .mat-card-item {
    height: 12vh;
    justify-content: center;
  }

  .row-name,
  .delete-row {
    font-size: 18px;
  }

  .settings-card {
    padding: 15px;
  }

  .mat-card-item form {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .row-name,
  .delete-row {
    font-size: 16px;
  }

  .settings-card {
    padding: 10px;
  }

  .mat-card-item form {
    margin-top: 20px;
  }
}
