.settings-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

mat-card {
  height: fit-content;
  width: 57vw;
}

mat-card-content {
  height: 100%;
  background-color: transparent;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f3f1;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 5px 15px 5px;
}

.card-row form {
  margin-top: 10px;
}

.row-name {
  font-size: 20px;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 200px;
  overflow-y: auto;
}
