<div class="settings-card">
  <mat-card>
    <mat-card-content>
      <div class="mat-card-item">
        <div class="row-name">Default currency</div>
        <form class="currency-form">
          <mat-form-field>
            <mat-label>Currency</mat-label>
            <input
              type="text"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayFn"
              (optionSelected)="onOptionSelected($event.option.value)"
            >
              <mat-option
                *ngFor="let currency of filteredCurrencies | async"
                [value]="currency"
                [matTooltip]="currency.name"
              >
                {{ currency.id }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="mat-card-item delete-row" (click)="openDeleteDialog()">
        Delete all data
      </div>
      <div class="mat-card-item">
        <div class="row-name">Exhange rate updated</div>
        <div class="row-name">{{ exchangeRateDate }}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
