.transactions-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  overflow-y: visible;
}

.transaction-details,
.transaction-amount {
  display: flex;
  flex-direction: column;
  text-align: end;
  gap: 10px;
}

.transaction-details {
  text-align: start;
}

.transaction-amount {
  text-align: end;
}

.transaction-name,
.default-currency-amount {
  font-size: 20px;
}

.chosen-currency-amount {
  font-size: 16px;
  color: #4d4d4d;
}

.transactions-card mat-form-field {
  max-width: 40%;
  align-self: flex-end;
  font-size: 16px;
}

@media (max-width: 768px) {
  .transactions-card {
    padding: 15px;
    gap: 15px;
  }

  .transaction-details,
  .transaction-amount {
    gap: 8px;
  }

  .transaction-name,
  .default-currency-amount {
    font-size: 18px;
  }

  .chosen-currency-amount {
    font-size: 14px;
  }

  .transactions-card mat-form-field {
    max-width: 60%;
  }
}
@media (max-width: 480px) {
  .transactions-card {
    padding: 10px;
    gap: 0px;
  }

  .account-name,
  .chosen-currency-amount {
    text-align: center;
  }

  .transaction-details,
  .transaction-amount {
    gap: 6px;
  }

  .transaction-name,
  .default-currency-amount {
    font-size: 16px;
  }

  .chosen-currency-amount {
    font-size: 12px;
  }

  .transactions-card mat-form-field {
    max-width: 80%;
  }
}
