mat-toolbar {
  background-color: #b3a5b1;
  color: #4d4d4d;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

mat-toolbar mat-toolbar-row {
  justify-content: space-between;
  align-items: end;
  width: 60%;
}

.toolbar-title {
  font-size: 30px;
  font-weight: bold;
}

mat-toolbar button {
  color: #4d4d4d;
  text-align: center;
  font-size: 18px;
}

.buttons {
  gap: 10px;
}

@media (max-width: 768px) {
  mat-toolbar {
    padding: 10px;
  }

  mat-toolbar mat-toolbar-row {
    width: 80%;
  }

  .toolbar-title {
    font-size: 24px;
  }

  mat-toolbar button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  mat-toolbar {
    padding: 8px;
  }

  mat-toolbar mat-toolbar-row {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .toolbar-title {
    font-size: 20px;
    text-align: center;
  }

  mat-toolbar button {
    font-size: 14px;
  }

  .buttons {
    gap: 5px;
    flex-direction: column;
  }
}
